<div class="container-lg">
    <div class="row mb-3">
        <div class="col-3">
            <div class="d-flex flex-row">
                <div class="pt-1">Orders</div>
                <button type="button" 
                        (click)="OnClickNewOrder()" 
                        class="btn btn-outline-primary btn-sm ms-auto">
                        New Order
                </button>
            </div>
        </div>
        <div class="col-9">
             <div class="d-flex flex-row">
                <div class="pt-1">Order Items 
                    <span *ngIf="SelectedOrder !== null" > for order <b>{{SelectedOrder.Details.Name}}</b></span>
                </div>
                <button type="button" 
                        *ngIf="SelectedOrder !== null"
                        (click)="OnClickNewOrderItem()" 
                        class="btn btn-outline-primary btn-sm ms-auto me-2">
                    Add Order Item
                </button>              
                <button type="button"
                        *ngIf="SelectedOrder !== null"
                        (click)="OnClickEditOrder()"
                        class="btn btn-outline-primary btn-sm me-2">
                    Update Order
                </button>
                <button type="button"
                        *ngIf="SelectedOrder !== null"
                        (click)="OnClickDeleteOrder()"
                        class="btn btn-outline-primary btn-sm">
                    Delete Order
                </button>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="list-group">
                <a [ngClass]="order.Id === SelectedOrder?.Id ? 'active' : ''"
                    class="list-group-item list-group-item-action"
                    *ngFor="let order of Orders"
                    (click)="OnClickOrder(order)">
                        {{order.Details.Name}}
                </a>
            </div>
        </div>
        <div class="col-9">
           <table *ngIf="SelectedOrder !== null"  class="table">
                <thead>
                    <tr>
                        <th scope="col">Item Id</th>
                        <th scope="col">Molecule</th>
                        <th scope="col">Basisset</th>
                        <th scope="col">Charge</th>
                        <th scope="col">CalculationType</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let orderItem of SelectedOrder.Items">
                        <td>{{orderItem.Id}}</td>
                        <td>{{orderItem.MoleculeName}}</td>
                        <td>{{orderItem.Details.BasisSet.Name}}</td>
                        <td>{{orderItem.Details.Charge}}</td>
                        <td>{{orderItem.Details.Type}}</td>
                        <td>
                            <button type="button" 
                                    class="btn btn-outline-primary btn-sm"
                                    (click)="OnClickDeleteOrderItem(orderItem)">
                                    Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
</div>
