<div class="container-lg">
    <div class="row">
        <div class="col-3">
            <div class="d-flex flex-row">
                <div class="pt-1">Orders</div>
                <button type="button" (click)="OnClickNewOrder()" class="btn btn-outline-primary btn-sm ms-auto">New Order</button>
            </div>
        </div>
        <div class="col-9">
             <div class="d-flex flex-row">
                <div class="pt-1">Order Items</div>
                <button type="button" (click)="OnClickNewOrderItem()" class="btn btn-outline-primary btn-sm ms-auto">New Order Item</button>
             </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <p> A list of orders</p>
        </div>
        <div class="col-9">
           <p>A list of order items</p>
        </div>
    </div>
</div>
