<div class="container-lg">  
    <div class="row">
        <div class="col-12">
            <h1>Molecules</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-underline mb-3">
                <li class="nav-item">
                    <a class="nav-link" 
                        aria-current="page" 
                        tabindex="-1"
                        routerLink="/calc-order-book"
                        routerLinkActive="active">
                        Calculation Order book
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" 
                        aria-current="page" 
                        tabindex="-1"
                        routerLink="/molecules-overview"
                        routerLinkActive="active">
                        Molecule
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
